@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #a0aec0; border-radius: 3px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #718096; }
.dark .custom-scrollbar::-webkit-scrollbar-thumb { background: #4a5568; }
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #718096; }